# ------------------------------------------------------------------------------
# OS-specific files
# ------------------------------------------------------------------------------

Thumbs.db
ehthumbs.db
Desktop.ini

# ------------------------------------------------------------------------------
# Vivado-generated build / simulation / GUI / temp files
# ------------------------------------------------------------------------------

*.runs/
*.sim/
*.hw/
*.ip_user_files/
*.cache/
*.gen/
*.wcfg

# ------------------------------------------------------------------------------
# Doc files
# ------------------------------------------------------------------------------

original.mp4
*.drawio
*.pdf